.body{
background-color: darkslategrey;
}

.bawah{
background-color: #475757;
}

.atas{
background-color: #0e8b3e;
}

.atas-satu{
background-color: #0ab6c4;
}

.atas-dua{
background-color: #500315;
}
    
.huruf{
color:#080808;
}